<h1 class ="page-title"> Simple Weight Tracker</h1>  
<div class="login center">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
        <br />
			</div>

			<div class="login-form">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="control-group">
            <%= f.email_field :email, autofocus: true, placeholder: "username", class: "login-field" %>
          </div>

          <div class="control-group">
            <%= f.password_field :password, autocomplete: "off", placeholder: "password", class: "login-field" %>
          </div>
          <br />
          <div class="actions">
            <%= f.submit "Log in", class: "btn btn-primary btn-large btn-block" %>
          </div>
          <br />
          <% if devise_mapping.rememberable? -%>
            <div class = "center control-group" style = "margin-left: 25%">
              <%= f.check_box :remember_me, class: "col-md-1" %>
              <%= f.label :remember_me, class: "col-md-8" %>
            </div>
            
          <% end -%>

        <% end %>
        <br />
        <div style = "margin-top:-2%">
          <%= render "devise/shared/links" %>    
        </div>
          
			</div>
		</div>
	</div>
  