<!DOCTYPE html>
<html>
<head>
  <title>Simple Weight Tracker</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
    </head>
    <body>
      <%= render 'layouts/header' %>
      <%= render 'layouts/messages' %>
      <div class="container" style = "margin-top:5%">
        <%= yield %>
      </div>
    </body>
  </html>

